.Stories {
    position: relative;
    padding: 12px 0;
    overflow-y: hidden;
    overflow-x: scroll;
}

.Stories::-webkit-scrollbar {
    display: none;
}

.Stories__List {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Stories__item:first-child {
    padding-left: 12px;
}

.Stories__item:last-child {
    padding-right: 12px;
}